<section id='records'>
  <%= render 'records' %>
</section>
<aside id='actions'>
  <%= render '/refinery/admin/resources/actions' %>
</aside>
<%= render '/refinery/admin/make_sortable', options: {tree: false} if ::Refinery::ResourceCategory.many? %>
